<nav class="navbar">
    <div class="logo">✈ AeroFlux</div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Flights</a></li>
        <li><a href="#">My Trips</a></li>
        <li><a href="#">Support</a></li>
    </ul>
     <div class="nav-actions">
    <ng-container *ngIf="!isLoggedIn">
      <a class="login-btn" routerLink="/login">Login</a>
      <a class="login-btn outline" routerLink="/register">Register</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <a class="login-btn" (click)="logout()">Logout</a>
    </ng-container>
  </div>
</nav>


<section class="hero">
    <div class="hero-content">
        <h1>Book Flights Seamlessly</h1>
        <p>
            Discover destinations, compare prices, and book flights securely
            with AeroFlux.
        </p>
    </div>

  
    <div class="search-card">
        <h3>Search Flights</h3>
        <form class="search-form" (ngSubmit)="search()">
            <input type="text" placeholder="From" [(ngModel)]="source" name="source" required/>
            <input type="text" placeholder="To" [(ngModel)]="destination" name="destination" required/>
            <input type="date" placeholder="yyyy-dd-mm" [(ngModel)]="date"  [min]="today" name="date" required/>
            <button type="submit">Search</button>

        </form>
    </div>
</section>

<section class="results" *ngIf="flights.length > 0">
  <h2>Available Flights</h2>

  <div class="flight-card" *ngFor="let flight of flights">
    <div class="flight-info">
      <h3>{{ flight.airline }}</h3>

      <p class="route">
        {{ flight.source }}
        <span class="arrow">→</span>
        {{ flight.destination }}
      </p>

      <p>Flight No: {{ flight.flightNumber }}</p>
      <p>Seats Available: <b>{{ flight.availableSeats }}</b></p>
    </div>

    <div class="flight-meta">
      <div class="price">
        ₹ {{ getPrice(flight) }}
      </div>
    </div>
  </div>
</section>

<section
  class="no-results"
  *ngIf="hasSearched && flights.length === 0"
>
  <h3>No Flights Available</h3>
  <p>
    We couldn’t find any flights for the selected date.
    Try choosing a different date.
  </p>
</section>


<!-- FEATURES -->
<section class="features">
    <div class="feature">
        <h3>Best Prices</h3>
        <p>We offer competitive fares across multiple airlines.</p>
    </div>
    <div class="feature">
        <h3>Secure Payments</h3>
        <p>Your transactions are encrypted and protected.</p>
    </div>
    <div class="feature">
        <h3>24/7 Support</h3>
        <p>Our support team is always available for you.</p>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer">
    <p>© 2025 AeroFlux. All rights reserved.</p>
</footer>